*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/*////////////////////////////////////////////////INDEX.html////////////////////////////////////////////////////////////*/

.background{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(Background.jpeg);
	background-size: cover;
	background-position: center;
}

.barradinav{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.logo{
	width: 150px;
	cursor: pointer;
}

.barradinav ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;

}
.barradinav ul li a{
	text-shadow: 100%;
	color: #fff;
	text-transform: uppercase;
}

.contenuti{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: hotpink;
}

.contenuti h1{
	font-size: 70px;
	margin-top: 80px;
}

.contenuti p{
	margin: 10px auto;
	font-weight: 100;
	line-height: 25px;
}

.social img{
	left: 95%;
	top: 90%;
	width: 50px;
	position: absolute;
}

/*////////////////////////////////////////////////ABOUTUS.html////////////////////////////////////////////////////////////*/

.mappa iframe{
	width: 400px;
	height: 300px;
	padding: 85px;
	border-radius: 110px;
}

.background2{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(https://4kwallpapers.com/images/walls/thumbs_3t/3985.jpg);
	background-position: center;
	background-size: cover;
}

.aboutustxt{
	color: goldenrod;
	position: absolute;
	transform: translateY(20%);
	left: 40%;
	right: 10%;
	top: 10%;
	padding: 20px;
	padding-right: 40px;
}

.Home{
	left: 90%;
	bottom: 85%;
	position: absolute;
}

.abtImg2 img{
	border-radius: 50px;
	height: 20px;
	padding: 20px;
	position: absolute;
	transform: translateX(210px);
	bottom: 5%;
}

/*////////////////////////////////////////////////VERDURA.html////////////////////////////////////////////////////////////*/

.BgrndVERD1 {
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(pomidor.jpg);
	background-size: cover;
}

.BgrndVERD1 img{
	padding: 50px;
	width: 350px;
	height: 250px;
	border-radius: 80px;
	top: 1%;
	right: 10%;
	position: absolute;
}

.BgrndVERD1  p{
	color: whitesmoke;
	padding: 100px;
	padding-top: 70px;
	width: 700px;
	position: absolute;
	font-size: 25px;
	left: 7%;
	top: 1%;
}

.BgrndVERD2 {
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(zucchineB.jpg);
	background-size: cover;
}

.BgrndVERD2 img{
	padding: 30px;
	border-radius: 60px;
	width: 450px;
	height: 250px;
}

.BgrndVERD2  p{
	color: whitesmoke;
	padding: 100px;
	padding-bottom: 50px;
	width: 600px;
	position: absolute;
	font-size: 25px;
	right: 7%;
	bottom: 4%;
}
/*////////////////////////////////////////////////FRUTTA.html////////////////////////////////////////////////////////////*/
.BgrndFRUTT1 {
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(WatermellonB.jpg);
	background-size: cover;
}

.BgrndFRUTT1 img{
	padding: 60px;
	border-radius: 90px;
	width: 430px;
	height: 250px;
	position: absolute;
	left: 8%;
}

.BgrndFRUTT1  p{
	color: whitesmoke;
	padding: 100px;
	padding-top: 70px;
	width: 600px;
	position: absolute;
	font-size: 1.5em;
	right: 7%;
	top: 0.5%;
}

.BgrndFRUTT2 {
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(ananasB.jpg);
	background-size: cover;
}

.BgrndFRUTT2 img{
	padding: 30px;
	border-radius: 60px;
	width: 500px;
	height: 250px;
}

.BgrndFRUTT2  p{
	color: whitesmoke;
	padding: 100px;
	padding-bottom: 25px;
	bottom: 6%;
	width: 600px;
	position: absolute;
	font-size: 1.5em;
	left: 5%;
}
/*////////////////////////////////////////////////ANIMALI.html////////////////////////////////////////////////////////////*/

.BgrndANIM1 {
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(capraB.jpg);
	background-size: cover;
}

.BgrndANIM1 img{
	padding: 30px;
	border-radius: 60px;
	width: 350px;
	height: 250px;
	position: absolute;
	left: 10%;
	top: 5%;
}

.BgrndANIM1  p{
	color: whitesmoke;
	padding: 100px;
	padding-top: 70px;
	width: 650px;
	position: absolute;
	font-size: 25px;
	right: 10%;
	top: 1%;
}

.BgrndANIM2 {
	width: 100%;
	height: 50vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(asinoB.jpg);
	background-size: cover;
}

.BgrndANIM2 img{
	padding: 30px;
	border-radius: 60px;
	width: 400px;
	height: 250px;
}

.BgrndANIM2  p{
	color: whitesmoke;
	padding: 100px;
	padding-bottom: 70px;
	width: 600px;
	position: absolute;
	font-size: 25px;
	left: 7%;
	bottom: 2%;
}
